%script(type="text/ng-template" id="/builds/index.html")
  %table
    %thead
      %tr(role="row")
        %th 
        %th #
        %th Status
        %th Revision
        %th Branch
        %th Author
        %th Started
    %tbody
      %tr(ng-repeat="build in builds" class="builds")
        %td(ng-switch="build.status")
          %div.success(ng-switch-when="completed")
            = fa_icon('check-square success')
          %div(ng-switch-when="created")
            = fa_icon('cog spin success')
          %div(ng-switch-when="building")
            = fa_icon('cog spin success')
          %div(ng-switch-when="failed")
            = fa_icon('minus-square danger')
        %td
          %a(ng-href="#/build/{{build.id}}") {{build.id}}
        %td
          {{build.status}}
        %td(data-tooltip=true title="test")
          %a(ng-href="{{build.github_commit_url}}" target="_blank")
            {{build.revision}}
        %td
          = fa_icon('code-fork')
          {{build.branch}}
        %td {{build.author}}
        %td {{build.started_at | fromNow}}
  %ul(class="pagination" ng-show="total_pages > 1")
    %li(ng-class="{unavailable:page <= 1}" class="arrow")
      %a(ng-click="getBuilds(page-1)") &laquo;
    %li(ng-repeat="p in pageRange() track by $index" ng-class="{current:page == $index+1}")
      %a(ng-click="getBuilds($index+1)")
        {{$index+1}}
    %li(ng-class="{unavailable:page >= total_pages}" class="arrow")
      %a(ng-click="getBuilds(page+1)") &raquo;


%script(type="text/ng-template" id="/builds/show.html")
  .row
    .col-lg-3.col-sm-6.col-xs-6.col-xxs-12
      .smallstat.box
        %i.icon-book.blue
        %span.title
          Pages
        %span.value
          200

    .col-lg-3.col-sm-6.col-xs-6.col-xxs-12
      .smallstat.box
        %i.icon-font.blue
        %span.title
          Words
        %span.value
          500

    .col-lg-3.col-sm-6.col-xs-6.col-xxs-12
      .smallstat.box
        %i.icon-plus-sign.green
        %span.title
          Additions
        %span.value
          %a(ng-href="{{build.github_commit_url}}" target="_blank")
            {{build.additions}}

    .col-lg-3.col-sm-6.col-xs-6.col-xxs-12
      .smallstat.box
        %i.icon-minus-sign.red
        %span.title
          Deletions
        %span.value
          %a(ng-href="{{build.github_commit_url}}" target="_blank")
            {{build.deletions}}

  .row
    .col-lg-6.col-sm-6.col-xs-12.col-xxs-12
      .smallstat.box
        %h1 Build
        %table
          %tr
            %td.bold-text
              Author:
            %td
              {{build.author}}
          %tr
            %td.bold-text
              Branch:
            %td
              {{build.branch}}
          %tr
            %td.bold-text
              Message:
            %td
              {{build.commit_message}}
          %tr
            %td.bold-text
              Completed:
            %td
              {{build.ended_at | fromNow}}
          %tr
            %td.bold-text
              SHA1:
            %td
              {{build.revision}}


    .col-lg-6.col-sm-6.col-xs-12.col-xxs-12
      .smallstat.box
        %h1 Assets
        %ul
          %li(ng-repeat="(asset, url) in build.assets")
            %a(ng-href="{{url}}") {{asset}}

