<!DOCTYPE html>
<html data-ng-app='Browser'>
<head>
  <title>Arturo.io</title>
  <%= stylesheet_link_tag    "browser" %>
  <%= javascript_include_tag "browser" %>
  <%= csrf_meta_tags %>
</head>
<body data-no-turbolink="true" class="browser">
  <div class="row">
    <div class="small-11 small-centered columns">
      <div class="row header">
        <a class="brand" href="#">Arturo.io</a>
        <dl class="sub-nav right">
          <dd><a href="#/books">#Books</a></dd>
          <dd><a href="#/builds">#Builds</a></dd>
          <dd><a href="#/repos">#Repos</a></dd>
        </dl>
      </div>

      <div class="row">
        <%= yield %>
      </div>
    </div>
  </div>
  <%= javascript_include_tag "foundation" %>
  <script>
    $(document).foundation();
  </script>


</body>
</html>
