<!DOCTYPE html>
<html data-ng-app='Browser'>
<head>
  <title>Arturo.io</title>
  <%= stylesheet_link_tag    "browser" %>
  <%= javascript_include_tag "browser" %>
  <%= csrf_meta_tags %>
</head>
<body data-no-turbolink="true" class="browser">
<div class="row">
  <div class="medium-11 small-centered columns">
    <%= render 'shared/navigation' %>
    <div class="row">
      <%= yield %>
    </div>
  </div>
</div>

<%= javascript_include_tag "foundation" %>
<script>
  $(document).foundation();
</script>

  <script type="text/javascript" src="//use.typekit.net/jov4cdg.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</body>
</html>
